<!DOCTYPE html>
<html>

<head>
    <title>Iron Spider X</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="script/client.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <p>Nè nè, muốn vào hả ~ <br>Cho tôi biết bạn là ai đi !</p>
        <form action="/" method="post" class="login">
            <input type="text" name="username" placeholder="Tên đăng nhập">
            <br>
            <input type="password" name="password" placeholder="Mật khẩu">
            <br>
            <input type="submit" name="" value="Đăng nhập">
        </form>
        <p><%= status %></p>
    </div>
</body>

</html>