<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Iron Spider X</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/messages.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="script/client.js"></script>
</head>

<body>
    <div class="container">
        <p class="message message1">Hello Iron Spider ~~</p>
        <p class="message message2 hidden">It's me ~~</p>
        <p class="message message3 hidden">How are you?</p>
        <p class="message message4 hidden">Hello World</p>
        <p class="message message5 hidden">U're my world</p>
        <p class="message message6 hidden">Of course you are</p>
        <p class="message message7 hidden">Surprise~~</p>
        <div class="panel message8"><button><a href="/timeline">Let's get it !</a></button></div>
    </div>
</body>

</html>