<!DOCTYPE html>
<html lang="en">

<head>
    <title>Iron Spider X</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/timeline.css">
    <link rel="stylesheet" href="css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="script/client.js"></script>
</head>

<body>
    <div class="container">
        <div class="display"></div>
        <form action="">
            <input type="text" class="message">
            <button type="menu">Image</button>
            <button type="submit">Update</button>
        </form>
    </div>
</body>

</html>
