<!DOCTYPE html>
<html lang="en">

<head>
    <title>Iron Spider X</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/timeline.css">
    <link rel="stylesheet" href="css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="script/client.js"></script>
</head>

<body>
    <div class="container">
        <div class="display">
            <div class="item">
                <i class="timestamp">Tony Parker: cập nhật trạng thái vào 17/6/2020 17:10:30</i>
                <div class="content">
                    <p class="status">Luv you forever :v</p>
                    <img src="image/103618567_896780407493343_1881539328406741835_n.png" alt="">
                </div>
            </div>
            <div class="item">
                <i class="timestamp">Tony Parker: cập nhật trạng thái vào 17/6/2020 17:10:30</i>
                <div class="content">
                    <p class="status">Luv you forever :v</p>
                    <img src="image/103618567_896780407493343_1881539328406741835_n.png" alt="">
                </div>
            </div>
            
        </div>
        <div class="chat-area">
            <form class="msgform" action="">
                <input type="text" class="message">
                <button type="menu" class="import">Image</button>
                <button type="submit">Update</button>
            </form>
        </div>
    </div>
</body>

</html>