.container{
    background-image: url(../image/login-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    padding: 0;
}
.chat-area{
    width: 100%;
    position: fixed;
    bottom: 5px;
}
form{
    display: inline;
}
input[type=text]{
    margin-left: 10px;
    padding: 10px;
    width: 80%;
    height: 20px;
    border: none;
    border-radius: 20px;
    transition: 0.5s ease;
}
button[type=submit], button[type=menu]{
    width: 8%;
    height: 40px;
    border: none;
    border-radius: 40px;
    transition: 0.5s ease;
}
a{
    text-decoration: none;
    color: black;
}
input:focus, input:active, button:focus, button:active{
    outline: 0;
}
.display{
    padding: 20px;
}
.item{
    margin-bottom: 50px;
}
.timestamp{
    color: gray;
}
.content{
    width: fit-content;
    padding: 30px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}